<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.visualpro.dictionary">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application

        android:name="com.visualpro.dictionary.MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/aic_main_icon"
        android:label="Dictionary"
        android:theme="@style/Transparent"
        android:roundIcon="@drawable/aic_main_icon"
        android:supportsRtl="true"
        tools:replace="android:label">

        <service android:name="com.visualpro.dictionary.TapToTranslateService"/>

        <activity
            android:windowSoftInputMode="stateHidden"
            android:excludeFromRecents="true"
            android:name="com.visualpro.dictionary.ui.float_translate.FloatTranslate"
            android:exported="false" />
        <activity android:name="com.visualpro.dictionary.ui.favorite_screen.DetailActivity" />
        <activity
            android:theme="@style/Splash"
            android:name="com.visualpro.dictionary.ui.MainActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>